.form {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin: auto;
}

.error-text {
  color: red;
  font-size: 14px;
}

.login-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
